.course1{
    position: relative;
    left: -43vh;
    width:130vh;
    height:max-content;
    background-color: rgb(75, 157, 168);
    border-radius: 8px;
    font-weight: bold;
    border-spacing: 100px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 3vh;

}
.course_grade_label{
    padding-left: 80px;
}
.course_grade_select{
    
    position: relative;
    left: 20px;
}
.credit_weightage{
    position: relative;
    left: 150px;
}
.creditweightageinput{
    position: relative;
    left: 50px;
}