@import '~antd/dist/antd.css';

.header{
  color: rgb(72, 192, 223);
  text-align: center;
  font-size: 4vh;
}
.content{
  background-color: rgb(72, 192, 223);
  min-height: 100vh
  ;
}
.coursesps{
 position: relative;
 top: 20px;
  left: 40%;
}
.layout{
  width:100%;
  min-height:max-content;
}
